table.DtSummaryTable {
	margin: 0 0 0 0;
	border: 1px solid #676767; 
	WORD-BREAK: BREAK-ALL;
}

table.DtSummaryTable tr a,tr a:visited {
	color: blue;
}

table.DtSummaryTable tr a:hover {
	text-decoration: underline;
	color: blue;
}

table.DtTable350 {
	margin: 0 0 0 0;
	width: 350px;
	border: 1px solid  #676767;
}
table.DtTable680 {
	margin: 0 0 0 0;
	width: 680px;
	border: 1px solid  #676767;
}

table.DtTable698 {
	margin: 0 0 0 0;
	width: 698px;
	border: 1px solid  #676767;
}

table.DtTable700 {
	margin: 0 0 0 0;
	width: 700px;
	border: 1px solid  #676767;
}

table.DtTable725 {
	margin: 0 0 0 0;
	width: 725px;
	border: 1px solid  #676767;
}

table.DtTable800 {
	margin: 0 0 0 0;
	width: 800px;
	border: 1px solid  #676767;
}

table.DtTable850 {
	margin: 0 0 0 0;
	width: 850px;
	border: 1px solid  #676767;
}

table.DtTable850NoBorder {
	margin: 0 0 0 0;
	width: 850px;
	border: 0px
}

table.dttable900 {
	margin: 0 0 0 0;
	width: 900px;
	border: 1px solid  #676767;
}

table.dttable950 {
	margin: 0 0 0 0;
	width: 950px;
	border: 1px solid  #676767;
}

table.DtTable1000 {
	margin: 0 0 0 0;
	width: 1000px;
	border: 1px solid  #676767;
}

table.DtTable1100 {
	margin: 0 0 0 0;
	width: 1100px;
	border: 1px solid  #676767;
}

table.DtTable1200 {
	margin: 0 0 0 0;
	width: 1200px;
	border: 1px solid  #676767;
}

table.DtTable1300 {
	margin: 0 0 0 0;
	width: 1300px;
	border: 1px solid  #676767;
}

table.DtTable1500 {
	margin: 0 0 0 0;
	width: 1500px;
	border: 1px solid  #676767;
}

table.DtTable1600 {
	margin: 0 0 0 0;
	width: 1600px;
	border: 1px solid  #676767;
}

table.DtTable1650 {
	margin: 0 0 0 0;
	width: 1650px;
	border: 1px solid  #676767;
}

table.NoBorder {
	margin: 0 0 0 0;
	width: 100%;
	border: 1px;
}

table.Border {
	margin: 0 0 0 0;
	width: 100%;
	border: 1px solid  #676767;

}



table {
	border: 1pt;
	width: 100%;
}

th.aligncenter {
	text-align: center;
}


thead tr {
	background-color: #fc0;
}

th.sorted {
	background-color: orange;
}

th a,th a:visited {
	color: black;
}

th a:hover {
	text-decoration: underline;
	color: black;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background-image: url(../img/arrow_off.png);
}

th.order1 a {
	background-image: url(../img/arrow_down.png);
}

th.order2 a {
	background-image: url(../img/arrow_up.png);
}


td.smallText {
	font-size: 10px;
	width: 280px;
}

td.aligncenter {
	text-align: center;
}

td.alignright {
	text-align: right;
}


tr.odd {
	background-color: #fff
}

tr.even {
	background-color: #fea
}
tr#multi {
	background-color: #ffecb9;
	}


tr.even.DTShadeLevel0{
    background-color: WHITE;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;	
	height: 20px;
	}

tr.even.DTShadeLevel1{
	background-color: #dee0d2;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: italic;
	height: 20px;
	FONT-WEIGHT: bold;
}

tr.even.DTShadeLevel2{
	background-color: #dee0d2;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: italic;
	height: 20px;
	FONT-WEIGHT: bold;
}

tr.even.DTShadeLevel3{
	background-color: #c3c5b8;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-style: normal;
	height: 20px;
	FONT-WEIGHT: bold;
}


div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 40%;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background-image: url(../img/ico_file_excel.png);
}

span.csv {
	background-image: url(../img/ico_file_csv.png);
}

span.xml {
	background-image: url(../img/ico_file_xml.png);
}

span.pdf {
	background-image: url(../img/ico_file_pdf.png);
}

span.rtf {
	background-image: url(../img/ico_file_rtf.png);
}

span.pagebanner {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
}

span.pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	display: block;
	border-top: none;
	margin-bottom: -5px;
}

