/*****************************************************************************/
/* General Section*/
/*****************************************************************************/
BODY
{
    scrollbar-base-color:#8C8CC6;
    scrollbar-3dlight-color:#3C3C3C;
    scrollbar-arrow-color:#3C3C3C;
    scrollbar-darkshadow-color:#DBD7D0;
    scrollbar-face-color:#E5E1D9;
    scrollbar-highlight-color:#DBD7D0;
    scrollbar-shadow-color:#3C3C3C;
    scrollbar-track-color:#EFEFEF;
}
.header{
    text-align: center;
    width: 1100px;
    font-size: 16px;
    font-weight: bold;
}

.menu{
	width: 1100px;
	padding:0;
	margin: 0;
	background: #ccc;
	display: inline-block;
}

.menu li{
	list-style: none;
    padding:5px 10px;
    display: inline-block;
   border-right: 1px solid #FFF;
   float:left;
}
.menu li:hover{background: #3172AA}

.menu li a{text-decoration: none; color:#000; display:block;}
table.border {
	margin: 0 0 0 0;
	border: 1px solid  #676767;
}

body,td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.formfont {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Geneva, Helvetica
}

.TabMouseOver {
	COLOR : White;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-weight : bold;
	font-style: normal;
}

A.TabMouseOver {
	COLOR : White; 
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-weight : bold;
	font-style: normal;	
	text-decoration: none;
	}
A.TabMouseOver:visited {
	COLOR: White;
}
A.TabMouseOver:hover {
	COLOR: #009CFF;
}

/***************************************************************************************
Used for Save and Updated Button 
***********************************************************************************************/
.button-red {
    zoom: 1;
    position: relative; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border: 0;
    font-size: 11px;
    font-weight: bold;
    color: #fff;      
    text-transform: uppercase;
    padding: 7px 12px 5px;
    background: -moz-linear-gradient(center top , #fe9397, #e7232c) repeat scroll 0 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#fe9397), to(#e7232c)) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent; 
    background: -ms-linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent; 
    background: -o-linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent; 
    background: linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe9397', endColorstr='#e7232c');
    -pie-background: linear-gradient(#fe9397, #e7232c);
    behavior: url(_ui/js/PIE.htc);
}


.Button{
	background-color : #2E73AC;
	border-left : 1px solid black;
	border-right : 1px solid black;
	border-top : 1px solid black;
	border-bottom : 1px solid black;
	font-family: Trebuchet MS, arial, sans-serif;
	font-size : 9pt;
	height : 25px;
	font-weight : bold;
	font-style: normal;
	COLOR: White;
	cursor:hand;
}

.ButtonNext{
	background-color : #00639C;
	border-left : 1 solid white;
	border-right : 1 solid black;
	border-top : 1 solid white;
	border-bottom : 1 solid black;
	font-family: Webdings;
	font-size : 11px;
	font-weight : bold;
	font-style: normal;
	COLOR: White;
	padding : -4 0 2 0;
	cursor:hand;
}

.ButtonReset{
	background-color : #C40000;
	border-left : 1 solid black;
	border-right : 1 solid black;
	border-top : 1 solid black;
	border-bottom : 1 solid black;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-weight : bold;
	font-style: normal;
	COLOR: White;
	cursor:hand;
}

 /*
 * To change the disabled attributes color to grey in IE10 and above browsers
 */
input:disabled, select:disabled, button:disabled {
COLOR: Grey;
}

/*
 * Instead of hand cursor ,IE10 and above browsers support the pointer cursor.
 */
button, html input[type=button], input[type=reset], input[type=submit],img{
cursor:pointer;	
}



/*****************************************************************************/
/* Top frame Setting*/
/*****************************************************************************/
.TopTabHeader{
	background: #00009C;
	color : White;
}

.TopTableLayer{
	background: #00009C;
}

.TopSelectedTabHeader{
	color: #00009C;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-weight : bold;
	font-style: normal;	
	background: White;

}

.TopHeaderCapition{
	BORDER-TOP-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	BORDER-RIGHT-WIDTH: 0px;
	BACKGROUND-COLOR: #6699cc;
	font-size : 14px;
	font-weight : bold;
	font-style: italic;
	TEXT-ALIGN: right;
	color : White;
}

/*****************************************************************************/
/* Left frame details*/
/*****************************************************************************/
.LeftTableLayer{
	background: #6699cc;
}

	
.LeftTableBody{
	background: #EAEAEA;
}

.LeftTableHeader{
	background: #eeeeee;
}

/*****************************************************************************/
/* Right frame details (Screen Settings)*/
/*****************************************************************************/
.RightScreenBody {
	background : White;
}

.RightTableBody{
	background: White;
}

.RightTableLayer{
	background: #6699cc;
}


.RightHeaderCaption {
	COLOR : #3074AC;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-weight : bold;
	font-style: normal;
}

.RightBigHeader {
	COLOR : #0064A0;
	font-family: sans-serif;
	font-size : 16pt;
	font-weight : bold;
	font-style: italic;
}

.gmVerticalMid {
	vertical-align:middle;
}

.InputArea {
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 11px;
	font-style: normal;
	border-left : 1 solid black;
	border-right : 1 solid black;
	border-top : 1 solid black;
	border-bottom : 1 solid black;
}

.RightDisableArea{
	BORDER-TOP-WIDTH: 1px;
	BORDER-LEFT-WIDTH: 1px;
	BORDER-BOTTOM-WIDTH: thin;
	BORDER-RIGHT-WIDTH: thin;
	background-color=#eeeeee;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 11px;
	font-style: normal;
}
/* This Style sheet setting is only used by Avail Summary Screen 1.3.2 */

.RightTextAS {
	COLOR : Black;
	font-family: sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}

.RightDisableAreaAS{
	BORDER-TOP-WIDTH: 1px;
	BORDER-LEFT-WIDTH: 1px;
	BORDER-BOTTOM-WIDTH: thin;
	BORDER-RIGHT-WIDTH: thin;
	background-color=#eeeeee;
	COLOR : Black;
	font-family: sans-serif;
	font-size : 9px;
	font-style: normal;
}

.RightInputAreaAS {
	COLOR : Black;
	font-family: sans-serif;
	font-size : 9px;
	font-style: normal;
}

.listbox{
	background-color : White;
	color : Black;
	font : normal 8pt Courier New;
}

.RightTableHeader{
	font-family: verdana, arial, sans-serif;
	color: white;
	font-size : 12pt;
	font-style: normal;
	font-weight: bold;
	background : #8B9ACF;
}


/*****************************************************************************/
/* Sub Menu (Tree Structure )
/*****************************************************************************/
.SubMenuMouseOver {
	COLOR : #0064A0;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-weight : bold;
	font-style: normal;
}

A.SubMenuMouseOver {
	COLOR : #0064A0;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-weight : bold;
	font-style: normal;
	text-decoration: none;
}
A.SubMenuMouseOver:visited {
	COLOR: #0064A0;
}
A.SubMenuMouseOver:hover {
	COLOR: #008FE6;
}
/*****************************************************************************/
/* Added Offshore
/*****************************************************************************/
.RightTableText {
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, arial, sans-serif;
	background-color: #eeeeee;
}

.TableText {
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, arial, sans-serif;
}

.RightText {
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, arial, sans-serif;
}

.ARightText {
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, arial, sans-serif;
	TEXT-ALIGN: center;
}

.RightTextSmall {
	FONT-SIZE: 9px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, arial, sans-serif;
}

A.RightText {
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, arial, sans-serif;
	text-decoration: underline;
}

A.RightText:hover {
	FONT-SIZE: 11px; 
	COLOR: blue; 
	FONT-FAMILY: verdana, arial, sans-serif;
	text-decoration: underline;
}

.MultiList{
	background-color : White;
	color : Black;
	font : normal 8pt monospace;
}

.RightTableCaption {
	FONT-SIZE: 9pt; 
	COLOR: #000000; 
	font-weight: bold;
	FONT-FAMILY: Trebuchet MS, arial, sans-serif;
}

.RightRedCaption {
	FONT-SIZE: 9pt; 
	COLOR: #000000; 
	font-weight: bold;
	HEIGHT: 35px;
	FONT-FAMILY: Trebuchet MS, arial, sans-serif;
	vertical-align:middle;
}

.RightYellowCaption {
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	background-color : bisque;
	font-weight: bold;
	FONT-FAMILY: verdana, arial, sans-serif;
}

.RightBlueCaption {
	FONT-SIZE: 11px; 
	COLOR: black; 
	background-color : #d3e2e9;
	font-weight: bold;
	FONT-FAMILY: verdana, arial, sans-serif;
}

.Line{
	background-color: #676767;
	height : 1;
}

.Empty{
	background-color: WHITE;
	height : 1;
}

.ELine{
	background-color: #eeeeee;
	height : 1;
}

.LLine{
	background-color: #cccccc;
	height : 1;
}

.AsofDate{
	background-color: #CCCCCC;
}

.TopNavTextOff{
	Font-Family: Arial, Helvetica, sans-serif;
	color:"#9B9BFF";
	background-color: #4646A9;
	FONT-SIZE: 10pt; 
}

.TopNavTextOn{
	Font-Family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:"#FFFFFF";
	background-color: #4646A9;
	FONT-SIZE: 10pt; 
}

.TopHeaderTxt{
	color : white;
	Font-Family: Arial, Helvetica, sans-serif;
	font-weight: bold;	
	FONT-SIZE: 8pt;	
}

TR.Shade{
	background-color: #E3EFFF;
}

TR.oddshade{	
	background-color: #E3EFFF;
	height: 24;
}
TR.evenshade{	
	 background-color: #FFFFFF;
	height: 23;
}
TR.EditCheck{
	background-color: #FFFF99;
}

.ShadeRightTableCaption{
	FONT-SIZE: 10pt; 
	COLOR: #000000; 
	font-weight: bold;
	FONT-FAMILY: Trebuchet MS;
	background-color: #AECCE8;
}
.FooterText {
	FONT-SIZE: 9px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, arial, sans-serif;
}

.HyperText {
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, arial, sans-serif;
	text-decoration: none;
}
A:hover {
        text-decoration: underline;
}

.RightTextRed { 
	FONT-SIZE: 11px; 
	COLOR: #FF0000; 
	FONT-FAMILY: verdana, arial, sans-serif;
	text-decoration: None;
}

A.RightTextRed { 
	FONT-SIZE: 11px; 
	COLOR: #FF0000; 
	FONT-FAMILY: verdana, arial, sans-serif;
	text-decoration: underline;
}

A.RightTextRed:hover { 
    text-decoration: underline;
	FONT-SIZE: 11px; 
	COLOR: blue; 
	FONT-FAMILY: verdana, arial, sans-serif;
}

.RightTableCaptionRed {
	FONT-SIZE: 11px; 
	COLOR: #FF0000; 
	font-weight: bold;
	FONT-FAMILY: verdana, arial, sans-serif;
}
.RightHeader { 
	FONT-SIZE: 13px; 
	COLOR: #000000; 
	font-weight: bold;
	FONT-FAMILY: verdana, arial, sans-serif;
}
TD.CustTableCaption{
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	font-weight: bold;
	FONT-FAMILY: verdana, arial, sans-serif;
	background-color: #cccccc;
}

.SubMenuSelected { 
	COLOR: #009CFF;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-weight : bold;
	font-style: normal;
	text-decoration: none;
}

.RightDisableTextArea{
	background-color=#eeeeee;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 11px;
	font-style: normal;
}

.MenuItem {
 text-align: center;
 background: #2E73AC;
 border-left:1px #000000 solid;
 cursor:hand;
 vertical-align:middle;
 text-align: center;
}

.MenuItemActive {
 text-align: center;
 background: #4791C5;
 border-left:1px #000000 solid;
 vertical-align:middle;
 text-align: center;
}

.MenuItemText {
 font-family: Arial;
 font-size: 8pt;
 font-weight: bold;
 color: #ffffff;
 vertical-align:middle;
 text-align: center;
 text-decoration:none;

}

.PortalText {
	FONT-SIZE: 10px; 
	COLOR: #2E73AC; 
	FONT-FAMILY: verdana, arial, sans-serif;
	text-decoration: none;
}

.RightTextBlue {
	FONT-SIZE: 11px; 
	COLOR: blue; 
	FONT-FAMILY: verdana, arial, sans-serif;
}

.RightTextPurple {
	FONT-SIZE: 11px; 
	COLOR: #8000FF; 
	FONT-FAMILY: verdana, arial, sans-serif;
}

.RightTextGreen {
	FONT-SIZE: 11px; 
	COLOR: green; 
	FONT-FAMILY: verdana, arial, sans-serif;
}

.RightTextBrown {
	FONT-SIZE: 11px; 
	COLOR: brown; 
	FONT-FAMILY: verdana, arial, sans-serif;
}


.RightDashBoardHeader { 
	background: #3172AA;
	FONT-SIZE: 11pt; 
	COLOR: #FFFFFF; 
	font-weight: bold;
	FONT-FAMILY: Trebuchet MS, arial, sans-serif;
}

.TableHeaderRow { 
	background: #4791C5;
	FONT-SIZE: 11px; 
	font-weight: bold;
	FONT-FAMILY: verdana, arial, sans-serif;
}

TR.ShadeRightTableCaptionBlue{
	FONT-SIZE: 11px; 
	COLOR: #4791C5; 
	font-weight: bold;
	FONT-FAMILY: verdana, arial, sans-serif;
	background-color: #AACCE8;
}

TR.ShadeBlue{
	background-color: #ffffff;
}

TR.ShadeBlueBk{
	background-color: #ecf6fe;
}

.RightTextSm {
	COLOR : Black;
	font-family: sans-serif;
	font-size : 9px;
	font-style: normal;
}

TR.ShadeRightTableCaptionSm{
	FONT-SIZE: 10px; 
	COLOR: #000000; 
	font-weight: bold;
	FONT-FAMILY: verdana, arial, sans-serif;
	background-color: #eeeeee;
}

DIV.gmFilter{
	width: 200px;
	height: 100px;
	overflow-Y: auto;
	overflow-X: hidden;
	border: 1px black solid;
}

a.credit {
	FONT-SIZE: 11px; 
	COLOR: RED; 
	FONT-FAMILY: verdana, arial, sans-serif;
}
a.debit {
	FONT-SIZE: 11px; 
	COLOR: BLUE; 
	FONT-FAMILY: verdana, arial, sans-serif;
}
a.regular {
	FONT-SIZE: 11px; 
	COLOR: GREEN; 
	FONT-FAMILY: verdana, arial, sans-serif;
}

a.OBO {
	FONT-SIZE: 11px; 
	COLOR: #8000FF; 
	FONT-FAMILY: verdana, arial, sans-serif;
}

.strikethruRedTD{
	COLOR : red;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
	text-decoration: line-through
}

.OrangeShadeTD{
	background-color: #FF8040;
	
}

.YellowShadeTD{
	background-color: #ffecb9;
	TEXT-ALIGN: right;
}

.GreyShadeTD{
	background-color: #C0C0C0;
	border: solid 1px white;
}

.greenShadeTD{
	COLOR : #458B00;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-style: normal;
	font-weight: bold;
	height: 20px;
	TEXT-ALIGN: right;
}

tbody tr.lightBrown td {
	FONT-WEIGHT: bold;   COLOR: #000; CURSOR: arrow; BORDER-TOP-COLOR: #3292fc; BACKGROUND-COLOR: #f1f1f1; BORDER-RIGHT-COLOR: #3292fc
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-TOP:  #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: verdana;
	BORDER-RIGHT: #999999 0px solid; BORDER-LEFT: #999999 0px solid
}

.MSToBeDone{
	background-color: #ffecb9;
}

.MSActual{
	FONT-WEIGHT: bold;
}

.MSPassed{
	FONT-WEIGHT: bold;
	COLOR : red;
}

table.CTFilterHeader {
	font-family: verdana, arial, sans-serif;
	border: 1px solid  #676767;	
	width: 840px;
}

table.CTFilterHeader thead th {
	FONT-SIZE: 11px; 
	FONT-WEIGHT: bold;
	text-align: left;
	margin: 0 0 0 0;
}

table.CTFilterHeader thead tr {
	background-color: #c3c5b8;
	height: 20px;
}

.HideShowLink {
	FONT-SIZE: 9px;
	FONT-WEIGHT: bold;
	font-family: verdana, arial, sans-serif;
	background-color: #FFFFFF;
}

.BoldFontSmall {
	FONT-SIZE: 9px;
	FONT-WEIGHT: bold;
	font-family: verdana, arial, sans-serif;
	background-color: #FFFFFF;
}

.BoldRedFontSmall {
	FONT-SIZE: 9px;
	FONT-WEIGHT: bold;
	font-family: verdana, arial, sans-serif;
	COLOR : red;
}
.RightInputCaption {
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	font-weight: bold;
	FONT-FAMILY: verdana, arial, sans-serif;
	text-align:right;
}
.errorMsg{
	color: red;
	font-weight: bold;
}
table.DtTable700 {
	margin: 0 0 0 0;
	width: 700px;
	border: 1px solid  #676767;
}

table.DtTable500 {
	margin: 0 0 0 0;
	width: 500px;
	border: 1px solid  #676767;
}

table.DtTable950 {
	margin: 0 0 0 0;
	width: 950px;
	border: 1px solid  #676767;
}
table.DtTable1055 {
	margin: 0 0 0 0;
	width: 1050px;
	border: 1px solid  #676767;
}

table.DtTable800 {
	margin: 0 0 0 0;
	width: 800px;
	border: 1px solid  #676767;
}

input {
	font-family: verdana, arial, sans-serif;
	font-size : 11px;
	font-style: normal;
	border : 1px solid grey;
}
/*	comments */
.ShadeMedRedGrid{
	background-color: #37cf4f;
	COLOR : White;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}
/* override */
.ShadeMedYellowGrid{
	background-color: #e16933	;
	COLOR : White;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}
/* both */
.ShadeDarkBrownGrid{
	background-color: #e787fc;
	COLOR : White;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

TR.oddshadetd{	
	background-color: #E3EFFF;
	height: 24;
	}
TR.evenshadetd{	
	 background-color: #FFFFFF;
	height: 23;
}
TR.oddshadetd td{	
	border-bottom:0.5pt solid #cccccc;
}
TR.evenshadetd td{	
	border-bottom:0.5pt solid #cccccc;
}
.Controlinput
{
	FONT-FAMILY: consolas;
	font-size: 13px;
}
 table.DtTable1000 {
    margin: 0 0 0 0;
          width: 1000px;
    border: 1px solid  #676767;
 }

table.DtTable600 {
	margin: 0 0 0 0;
	width: 600px;
	border: 1px solid  #676767;
}