<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" type="image/png" sizes="16x16" href="../extstatic/uitemplate/assets/images/Globus_Logo.png">
	<title>Globus Medical - A/R</title>
	<link rel="stylesheet" type="text/css"
		href="../extstatic/uitemplate/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
	<link rel="stylesheet" type="text/css"
		href="../extstatic/uitemplate/assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="../extstatic/uitemplate/assets/node_modules/datatables.net-bs4/css/responsive.dataTables.min.css">
	<link href="../extstatic/uitemplate/dist/css/style.min.css" rel="stylesheet">
	<link href="../extstatic/uitemplate/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css"
		rel="stylesheet" type="text/css" />
	<link href="../extstatic/uitemplate/dist/css/pages/file-upload.css" rel="stylesheet">
	<link href="dist/css/GmARStyle.css" rel="stylesheet">
	<link href="/extweb/dhtmlx/dhtmlxGrid/ext/dhtmlxgrid_hmenu.css">    
    <link rel="stylesheet" type="text/css" href="../extstatic/lib/dhtmlx/vault/3.0.0/codebase/vault.css">
    <link rel="stylesheet" type="text/css" href="../extstatic/lib/dhtmlx/suite/6.5.2/codebase/suite.css" />
    <!--this href link used to show file icon based on file extension [Ex .pdf, .doc]-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../extstatic/lib/dhtmlx/suite/6.5.2/samples/common/index.css" />
    
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	


</head>

<style>
	.ngdialog.dialogwidth800 .ngdialog-content {
		width: 800px;
	}
</style>

<body class="skin-blue fixed-layout">
	<div class="preloader">
		<div class="loader">
			<div class="loader__figure"></div>
			<p class="loader__label">AR Application</p>
		</div>
	</div>
	<div id="main-wrapper">
		<header class="topbar" ng-controller="GmCommonController">
			<nav class="navbar top-navbar navbar-expand-md navbar-dark">
				<div class="navbar-header">
					<a class="navbar-brand" href="index.html"> <b> <img
								src="../extstatic/uitemplate/assets/images/Globus_Logo.png"
								style="height: 60px; margin-left: 10px;" alt="homepage" class="light-logo" /></b>
					</a>
				</div>
				<div class="navbar-collapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark"
								href="javascript:void(0)"> <i class="ti-menu"></i>
							</a></li>
						<li class="nav-item"><a
								class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark"
								href="javascript:void(0)"> <i class="icon-menu"></i>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="javascript:void(0)"> <span class="gmtitle">AR
									Application</span>
							</a></li>
					</ul>
					<ul class="navbar-nav my-lg-0">
						<li class="nav-item dropdown u-pro">
							<a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href=""
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img src="../extstatic/uitemplate/assets/images/Globus_User.png" alt="user" class="">
								<span id="headerUsername" class="hidden-md-down">{{varUserName}} &nbsp;<i
										class="fa fa-angle-down"></i></span> </a>
							<div class="dropdown-menu dropdown-menu-right animated flipInY">
								<a href="#" onclick="keycloakService.logout();" class="dropdown-item"><i
										class="fa fa-power-off"></i> Logout</a>
							</div>
						</li>
						<li class="nav-item right-side-toggle"><a class="nav-link  waves-effect waves-light"
								href="javascript:void(0)"></a></li>
					</ul>
				</div>
			</nav>
		</header>

		<aside class="left-sidebar">
			<!-- Sidebar scroll-->
			<div class="scroll-sidebar">
				<!-- Sidebar navigation-->
				<nav class="sidebar-nav">
					<ul id="sidebarnav">
                        <li id="li-order-pending"><a id="gmorderpendingpo" class="waves-effect waves-dark" href="#/gmorderspendingpo" aria-expanded="false"> <i
                                    class="mdi mdi-airplay"></i> <span class="hide-menu">Orders Pending PO</span>
                            </a></li>
                        <li id="li-auto-invoice"><a class="waves-effect waves-dark" id="gmautoinvoice" href="#/gmautoinvoice"
                                aria-expanded="false"> <i class="mdi mdi-view-carousel"></i> <span
                                    class="hide-menu">Ready For Invoice Dashboard</span> </a></li>
                        <li><a class="waves-effect waves-dark" id="gmardisprepancy" href="#/gmardiscrepancy"
								aria-expanded="false"> <i class="mdi mdi-book-multiple-variant"></i> <span
									class="hide-menu">Discrepancy PO</span> </a></li>
						<li id="li-revenue-dashboard"><a class="waves-effect waves-dark" id="gmrevenuedashboard" href="#/gmrevenuedashboard"
                                aria-expanded="false"> <i class="mdi mdi-cards-variant"></i> <span
                                    class="hide-menu">Revenue Track Dashboard</span> </a></li>
                        <li id="li-revenue-rpt"><a class="waves-effect waves-dark" id="gmrevenuereport" href="#/gmrevenuereport"
                                aria-expanded="false"> <i class="mdi mdi-home-modern"></i> <span
                                    class="hide-menu">Revenue Track Report</span> </a></li>
							<li id="li-detail-rpt"><a class="waves-effect waves-dark" id="gmdiscdetailreport"
								href="#/gmdiscdetailreport" aria-expanded="false"> <i class="mdi mdi-home-modern"></i>
								<span class="hide-menu">Discrepancy Detail Report</span> </a></li>

					</ul>
				</nav>
				<!-- End Sidebar navigation -->
			</div>
			<!-- End Sidebar scroll-->
		</aside>

		<div data-ng-view></div>

		<footer class="footer skin-blue " id="showValidation"
			style="font-family: Trebuchet MS;height: 100%;color: #ff6961;font-size:1.8em;    padding-top: 6px;text-align: center;">
		</footer>

	</div>

	<script src="../extstatic/uitemplate/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
	<script src="../extstatic/uitemplate/assets/node_modules/jqueryui/jquery-ui.min.js"></script>

	<script src="../extstatic/lib/angular.min.js"></script>
	<script src="../extstatic/lib/angular-route.min.js"></script>
	<script src="../extstatic/lib/angular-resource.min.js"></script>
	<script type="text/javascript" src="../extstatic/lib/ng-file-upload.min.js"></script>
	<script src="../extstatic/lib/filesaver.js"></script>
	<script type="text/javascript" src="../extstatic/lib/xlsx.full.min.js"></script>
	<script src="../extstatic/lib/xml2json.min.js"></script>
	<script src="../extstatic/lib/kendo.all.min.js"></script>
	<script src="../extstatic/lib/redux.min.js"></script>

	<script src="dist/js/GmConstant.js"></script>
	<script src="../extstatic/lib/keycloak.js"></script>
	<script src="dist/app/GmARApp.js"></script>
    <!-- Remove Existing Grid Js Added New Grid Js -->
	<script src="dist/app/GmCommonUtil.js"></script>
	<script src="/extweb/dhtmlx/dhtmlxcommon.js"></script>
	<script src="/extweb/dhtmlx/dhtmlxGrid/dhtmlxgrid.js"></script>
	<script src="/extweb/dhtmlx/dhtmlxGrid/ext/dhtmlxgrid_filter.js"></script>
	<script src="/extweb/dhtmlx/dhtmlxGrid/dhtmlxgridcell.js"></script>
	<script src="/extweb/dhtmlx/dhtmlxGrid/ext/dhtmlxgrid_srnd.js"></script>
	<script src="/extweb/dhtmlx/dhtmlxGrid/ext/dhtmlxgrid_hmenu.js"></script>
	<script src="/extweb/dhtmlx/dhtmlxgrid_export.js"></script>
	<script src="/extweb/dhtmlx/dhtmlxGrid/excells/dhtmlxgrid_excell_link.js"></script>
	<script src="/extweb/dhtmlx/dhtmlxGrid/ext/dhtmlxgrid_keymap_access.js"></script>


	<script src="dist/app/GmCommonFileUpload.js"></script>
	<script src="dist/app/GmPendingPOController.js"></script>
    <script src="dist/app/GmDiscrepancyController.js"></script>
	<script src="dist/app/GmARRevenuePDFTrackController.js"></script>
	<script src="dist/app/GmDiscrepancyDtlReportController.js"></script>

	<script src="dist/app/GmCommon.js"></script>

	<script src="../extstatic/uitemplate/assets/node_modules/popper/popper.min.js"></script>
	<script src="../extstatic/uitemplate/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../extstatic/uitemplate/dist/js/perfect-scrollbar.jquery.min.js"></script>
	<script src="../extstatic/uitemplate/dist/js/waves.js"></script>
	<script src="../extstatic/uitemplate/dist/js/sidebarmenu.js"></script>
	<script src="../extstatic/uitemplate/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
	<script src="../extstatic/uitemplate/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
	<script src="../extstatic/uitemplate/dist/js/custom.min.js"></script>
	<script src="dist/js/GmCustom.js"></script>
	<script src="dist/app/GmARInvoiceController.js"></script>
	<script src="../extstatic/lib/PDFjs/pdf.min.js"></script>
	<script src="../extstatic/lib/PDFjs/pdf.worker.min.js"></script>


	<script src="../extstatic/uitemplate/assets/node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../extstatic/uitemplate/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	<script src="../extstatic/uitemplate/assets/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
	<script
		src="../extstatic/uitemplate/assets/node_modules/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
	<!-- start - This is for export functionality only -->
	<script src="../extstatic/lib/dataTables.buttons.min.js"></script>
	<script src="../extstatic/lib/buttons.flash.min.js"></script>
	<script src="../extstatic/lib/jszip.min.js"></script>
	<script src="../extstatic/lib/vfs_fonts.js"></script>
	<script src="../extstatic/lib/buttons.html5.min.js"></script>
	<script src="../extstatic/lib/buttons.print.min.js"></script>

	<!--    DHTMLXVault for File upload-->
	 <script type="text/javascript" src="../extstatic/lib/dhtmlx/vault/3.0.0/codebase/vault.js"></script>
    <script type="text/javascript" src="../extstatic/lib/dhtmlx/suite/6.5.2/codebase/suite.js" ></script>
	 

	<script type="text/javascript">
		$('#gmautoinvoice').click(function () {
			$("#li-order-pending").removeClass("active");
			$("#li-auto-invoice").addClass("active");
			$("#li-revenue-dashboard").removeClass("active");
			$("#li-revenue-rpt").removeClass("active");
			$("#li-detail-rpt").removeClass("active");
		});
		$('#gmorderpendingpo').click(function () {
			$("#li-order-pending").addClass("active");
			$("#li-auto-invoice").removeClass("active");
			$("#li-revenue-dashboard").removeClass("active");
			$("#li-revenue-rpt").removeClass("active");
			$("#li-detail-rpt").removeClass("active");
		});
		$('#gmrevenuedashboard').click(function () {
			$("#li-order-pending").removeClass("active");
			$("#li-auto-invoice").removeClass("active");
			$("#li-revenue-dashboard").addClass("active");
			$("#li-revenue-rpt").removeClass("active");
			$("#li-detail-rpt").removeClass("active");
		});
		$('#gmrevenuereport').click(function () {
			$("#li-order-pending").removeClass("active");
			$("#li-auto-invoice").removeClass("active");
			$("#li-revenue-dashboard").removeClass("active");
			$("#li-revenue-rpt").addClass("active");
			$("#li-detail-rpt").removeClass("active");
		});
		$('#gmdiscdetailreport').click(function () {
			$("#li-order-pending").removeClass("active");
			$("#li-auto-invoice").removeClass("active");
			$("#li-revenue-dashboard").removeClass("active");
			$("#li-revenue-rpt").removeClass("active");
			$("#li-detail-rpt").addClass("active");
		});

	</script>


</body>


</html>