<!-- 
/* 
 * GmARInvoice.html : This html is used for load Ready for invoicing PO details
 * @author Ramachandiran T.S
*/ 
-->
<div class="page-wrapper" id="gmturreport">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor" style="font-weight: 500;">Ready For Invoice Dashboard</h3>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Ready For Invoice Dashboard</li>
                        <li class="help-icon"><i class="fa fa-question-circle" aria-hidden="true" onclick="fnHelp('wikiinvoicedashboard');" title="Help"></i></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="row">
        <div id="invoicing-po-main" class="col-12">
            <div class="mb-0 card">
                <div class="card-body">
                    <form class="form-body needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right  col-md-3 ">
                                        <!-- <span class="text-danger">* </span> -->
                                        Company</label>
                                    <div class="col-md-8">
                                        <select id="strCompanyId" class="form-control custom-select"
                                            ng-model="selectedCompany" tabindex="1"
                                            data-ng-change="fnchangeCompany(selectedCompany)">
                                            <!--  <option value="">[Choose One]</option> -->
                                            <option data-ng-repeat="comp in compList" value="{{comp.companyId}}">
                                                {{comp.companyName}}</option>
                                        </select>
                                        <!--  <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Division</label>
                                    <div class="col-md-8">
                                        <select class="form-control custom-select" data-ng-model="strDivisionId"
                                            tabindex="2">
                                            <option value="">[Choose One]</option>
                                            <option data-ng-repeat="divlist in divisionList"
                                                value="{{divlist.divisionId}}">{{divlist.divisionName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Parent Account</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="Search" name="strParentAcc"
                                            class="form-control" data-ng-model="strParentAccId"
                                            data-ng-change="fnSearchParentAccount()" tabindex="3">
                                        <input type="hidden" placeholder="Search" name="strParentAcc"
                                            class="form-control" data-ng-model="strParentAcc">
                                        <ul class="list-group" id="list-group-acc" ng-model="hidethisacc"
                                            ng-hide="hidethisacc">
                                            <li class="list-group-item list-group-item-action"
                                                ng-repeat="pAcc in parentAccList" ng-click="fnParentAccItem($event)"
                                                data-name="{{pAcc.NAME}}" data-id="{{pAcc.ID}}">{{pAcc.NAME}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Rep Account</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="Account Name" name="strRepAcc"
                                            class="form-control col-md-8" data-ng-model="strRepAccId"
                                            data-ng-change="fnSearchRepAccount()" tabindex="4">
                                        <input type="hidden" placeholder="Search" name="strRepAcc" class="form-control"
                                            data-ng-model="strRepAcc">
                                        <input type="search" placeholder="ACC ID" aria-describedby="button-addon1"
                                            class="form-control col-md-3" data-ng-model="strAccid" tabindex="5">
                                        <ul class="list-group" id="list-group-rep" ng-model="hidethisrep"
                                            ng-hide="hidethisrep">
                                            <li class="list-group-item list-group-item-action"
                                                ng-repeat="rAcc in repAccList" ng-click="fnRepAccItem($event)"
                                                data-name="{{rAcc.NAME}}" data-id="{{rAcc.ID}}">{{rAcc.NAME}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-4">PO#</label>
                                    <div class="col-md-6">
                                        <input type="search" placeholder="" aria-describedby="button-addon1"
                                            class="form-control" data-ng-model="strCustPONumber" tabindex="6">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text_left col-md-4">PO Entry Date</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control inputDatePicker" data-ng-model="strPOEnteredFDate" id="poEnteredFDate" placeholder="mm/dd/yyyy" tabindex="7"> 
                                            <div class="input-group-append poEnteredFDate">
                                                <span class="input-group-text"> <i class="icon-calender"></i>
                                                </span>
                                            </div>
                                            <span id="span-empty_poFdt-err" style="color:red" class="hide">Please Select From Date for PO Entered Date Field</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-left col-md-2">To</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control inputDatePicker" data-ng-model="strPOEnteredTDate" id="poEnteredTDate" placeholder="mm/dd/yyyy" tabindex="8"> 
                                            <div class="input-group-append poEnteredTDate">
                                                <span class="input-group-text"> <i class="icon-calender"></i>
                                                </span>
                                            </div>
                                            <span id="span-empty_poTdt-err" style="color:red" class="hide">Please Select To Date for PO Entered Date Field</span>
                                            <span id="span-dt_compare_poFdt-err" style="color:red" class="hide">To Date should be greater than or equal to From Date for PO Entered Date</span>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="row">
                            <button id="btnCollapseFilter" class="btn btn-xs btn-outline-dark collapsed" type="button"  data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" data-ng-click="fnColapseFilter()" tabindex="9">
                            </button>
                        </div>
                        <section class="collapse" id="collapseFilter">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Field Sales</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="Search" name="strFieldSales"
                                            class="form-control" data-ng-model="strFieldSalesId"
                                            data-ng-change="fnSearchFieldSales()" tabindex="10">
                                        <input type="hidden" placeholder="Search" name="strFieldSales"
                                            class="form-control" data-ng-model="strFieldSales">
                                        <ul class="list-group" id="list-group-field" ng-model="hidethisfield"
                                            ng-hide="hidethisfield">
                                            <li class="list-group-item list-group-item-action"
                                                ng-repeat="fieldSales in fieldSalesList"
                                                ng-click="fnFieldSalesItem($event)" data-name="{{fieldSales.NAME}}"
                                                data-id="{{fieldSales.ID}}">{{fieldSales.NAME}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Sales Rep</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="Search" name="strSalesRep"
                                            class="form-control" data-ng-model="strSalesRepId"
                                            data-ng-change="fnSearchSalesRep()" tabindex="11">
                                        <input type="hidden" placeholder="Search" name="strSalesRep"
                                            class="form-control" data-ng-model="strSalesRep">
                                        <ul class="list-group" id="list-group-sales" ng-model="hidethissales"
                                            ng-hide="hidethissales">
                                            <li class="list-group-item list-group-item-action"
                                                ng-repeat="salesRep in salesRepList" ng-click="fnSalesRepItem($event)"
                                                data-name="{{salesRep.NAME}}" data-id="{{salesRep.ID}}">
                                                {{salesRep.NAME}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </section>
                        <div class="row">
                        <div class="col-md-12">
                            <div class="form-group-line float-right" id="btn-load-div">
                                <button class="btn btn-outline-secondary" type="button"
                                    data-ng-click="fnClearAllField()" data-toggle="modal"
                                    class="model_img img-responsive" tabindex="12">Clear</button>
                                <button class="btn btn-info " type="submit" data-ng-click="fnLoadPOReportByStatus()"
                                    data-toggle="modal" data-target="#LoadAlert" class="model_img img-responsive"
                                    tabindex="13">Load
                                </button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="card-body pt-2 pb-2 w-100">
                    <div class="dhx_sample-controls float-right">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Show/Hide
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="chkFl" checked>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strPOEnteredDate" checked>PO Entry Date
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strDOFlag" checked>Files
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strOrdReceiveMode" checked>iPad PDF
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strParentAcc" checked>Parent Account
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strParentAccId">Parent Account Id
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strHoldFl" checked>Hold Fl
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strCustPONumber" checked>PO Number
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strPOAmt" checked>PO Amount
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strTotal" checked>Order Amount
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strDiffAmt" checked>Diff
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strOrderId" checked>DO Id
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strRepAcc">Rep Account
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strDivisionNm">Division
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strFieldSales">Field Sales
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strSalesRep" checked>Sales Rep
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strPOStatusUpdatedBy">PO Status Updated By
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strPOStatusUpdatedDate">PO Status Updated Date
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strCustPOUpdatedBy">PO Entered By
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="text-right">
                            <div class="form-group-line">
                                <button class="btn btn-info" id="btn-excel" data-ng-click="exportXlsx()">Export to Excel</button>
                            </div>
                        </div>
                    </div>
                    <div id="invoice-selected-row-count" class="w-100 "></div>
                    <div id="ready-for-invoicing-results" class="w-100 "> </div>
                    <div id="no-data-found" class="text-center">No data found</div>
                </div>
                <div id="show-batch" class="col-md-12 text-left">
                        <div class="form-group-line">
                           <label class="control-label mt-2  col-md-6 text-right">Batch id created successfully</label>
                           <label class="control-label mt-2  col-md-2 lbl-bold lbl-size1  text-left"><span>{{strMessage}}</span></label>
                        </div>
                    </div>
                <div class="card-body pt-2 pb-2 w-100">
                    <div id="btn-show">
                        <div class="row">
                            <div class="col-md-5 text-right">
                                <div class="form-group-line">
                                    <button class="btn btn-info " type="submit" data-ng-click="fnFormPODetls()"
                                        data-toggle="modal" data-target="#LoadAlert" class="model_img img-responsive"
                                        tabindex="15" data-ng-disabled="AccessFlBatch==='N'"> Add & Process Batch
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2 text-center">
                                <div class="form-group-line">
                                    <button class="btn btn-warning" id="btn-roi-div" type="submit"  ng-disabled="statusFl==='N'" data-ng-click="fnMoveDiscrepancy()"
                                        data-toggle="modal" data-target="#LoadAlert" class="model_img img-responsive"
                                        tabindex="15">
                                        Move to Discrepancy
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-5 text-left">
                                <div class="form-group-line">
                                    <button class="btn btn-danger" id="btn-roi-pro" type="submit"  ng-disabled="statusFl==='N'" data-ng-click="fnMoveProcessorError()"
                                        data-toggle="modal" data-target="#LoadAlert" class="model_img img-responsive"
                                        tabindex="15">
                                        Processor Error
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>

            </div>

<!-- Modal window for Associated Order list pop up -->
<div id="associatedOrderModal" class="modal" tabindex="-1" role="dialog"
	aria-labelledby="vcenter" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">

		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="vcenter">
					<b>PO Associated Orders List</b>
				</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="fas fa-times text-muted px-3 pb-2 align-middle"></i>
				</button>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-md-3 text-right">
						<label><b>PO Number :</b></label>
					</div>
					<div class="col-md-3">
						<label>{{strCustomerPo}}</label>
					</div>
					<div class="col-md-3 text-right">
						<label><b>PO Amount :</b></label>
					</div>
					<div class="col-md-3 pr-4 text-right">

						<label><span>{{strPOAmt | currency: strcurrencyNm}}</span></label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 text-right">
						<label><b>PO Entered By :</b></label>
					</div>
					<div class="col-md-3">
						<label>{{strPOEnteredBy}}</label>
					</div>
				
					<div class="col-md-3 text-right">
						<label><b>PO Entered Date :</b></label>
					</div>
					<div class="col-md-3 pr-4 text-right">
						<label>{{strPOUpdatedDate}}</label>
					</div>
				</div>
				<div class="row">
					<table  id="OrderDetailsListTable" class="table table-borderless table-hover tables-responsive " >
						<thead>
						<tr class="table-dark text-dark" >
							<th height="20px" width="120px">ORDER ID</th>
							<th height="20px" width="180px">ORDER TYPE</th>
							<th height="20px" width="120px">ORDER AMOUNT</th>
							</tr>
						</thead>
						<tbody>
							<tr class="table-active" data-ng-repeat="OrdDtlList in POOrderDtlList">
								<td><a data-ng-click="fnSummaryDO(OrdDtlList.strOrderId)"
									style="color: #6666FF;">{{OrdDtlList.strOrderId}}</a></td>
								<td>{{OrdDtlList.strOrderTypeName}}</td>
								<td class="text-right pr-4">{{OrdDtlList.strTotal | currency: strcurrencyNm}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-md-4 mt-1"></div>
					<div class="col-md-4 mt-1"
						style=" text-align: right;"><h5><b>Total </b></h5></div>
					<div class="col-md-4 mt-1 pr-5 text-right"
						><b>{{strOrderAmt | currency:strcurrencyNm}}</b></div>
				</div>
				<div class="row">
					<div class="col-md-4 "></div>
					<div class="col-md-4"
						style=" text-align: right;"><h5><b> Diff </b></h5></div>
					<div id="strAstOrdDiff" class="col-md-4 mt-1 pr-5 text-right"
						><b>{{strDiffAmt | currency:strcurrencyNm}}</b></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal window for file upload list report -->
        
  <div id="fileUploadModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vcenter">PO Attachments: {{strOrderandPO}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fas fa-times text-muted px-3 pb-2 align-middle" title="Close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="fileUploadListTable" class="table table-striped tables-responsive">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th style="display:none;"></th>
                                                <th>File Name</th>
                                                <th>Size</th>
                                                <th>Date Attached</th>
                                                <th>Attached By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="uploadFile in uploadFileList">
                                                <td>{{$index+1}}</td>
                                                <td><a href="{{downloadURL}}{{uploadFile.strFileName}}"
                                                    target="_blank"><i id="filetype{{$index+1}}" class="fa" style="font-size:19px;"
                                                    aria-hidden="true"></i></a></td>
                                                <td style="display:none;">
                                                    {{getFileType(uploadFile.strFileName,$index+1)}}</td>
                                                <td><a href="{{downloadURL}}{{uploadFile.strFileName}}"
                                                        target="_blank">{{uploadFile.strFileName}}</a></td>
                                                <td>{{getFileSize(uploadFile.strFileSizeDtls)}}</td>
                                                <td>{{uploadFile.strUpdatedDate}}</td>
                                                <td>{{uploadFile.strUpdatedBy}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Delete Confirm window for File Upload list Report-->
<!--  <div class="modal fade" id="deleteFileList" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">File Upload List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want remove this file?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-ng-click="fnDeleteConfirm()">Ok</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div> -->

<!--Invlid Discrepancy modal window for selectted PO's-->
<div id="invalidDiscrepancy" class="modal" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vcenter">Move to Discrepancy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fas fa-times text-muted px-3 pb-2 align-middle"  title="Close" data-ng-click="ConfirmPOCancel()"></i>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <span>{{strDiscrepancyMsg}}<br></span>
                <span><br><b>{{strinvalidDiscPO}}</b></span>
            </div>
            <div class="modal-footer" style="text-align: center;">
               <button type="button" class="btn btn-info" data-dismiss="modal" data-ng-click="fnMoveToDicrepancy(strdiscrepancyPOList)">Ok</button>
                <button type="button" class="btn btn-danger waves-effect"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

 <!--Show modal window for Validation message-->
<div id="show-CheckAll" class="modal" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
	       <div class="modal-header">
		         <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                 </button>
	       </div>
	       <div class="modal-body" style="text-align: center;">
	        <span>Please select at least one PO for continue to Add and Process Batch</span>
	       </div>
	       <div class="modal-footer">
				<button type="button" class="btn btn-danger waves-effect"
					data-dismiss="modal" >Ok</button>
		   </div>
   </div>
</div>
</div>  

<!--confirm the order for differnt amount -->
 <div id="show-batch-confirm" class="modal" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup" 
 aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Batch Process</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
              <span> The following PO number(s) and PO Total is not matching with the Order(s) Total, do you want to Add and Process Batch?
                </span>
                <span><br><b>{{strPONum}}</b></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-ng-click="fnFormDiffAmtPODetls()">Ok</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal" data-ng-click="fnCancelBtnAddProcess()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal window for without select PO's-->
<div id="emptyInvalidDiscrepancy" class="modal" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vcenter">Move to Discrepancy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fas fa-times text-muted px-3 pb-2 align-middle" title="Close" data-ng-click="ConfirmPOCancel()"></i>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <span>{{strDiscrepancyMsg}}<br></span>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" id="modal-btn-fdelete_cancel" class="btn btn-info"
                    data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

 <!--Show modal window for there has no batch id Validation message-->
<div id="show-batch-error" class="modal" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
	       <div class="modal-header">
	       <h5 class="modal-title">Batch Failed</h5>
		         <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                 </button>
	       </div>
	       <div class="modal-body" style="text-align: center;">
	        <span>Add and Process Batch is failed, Please try again</span>
	       </div>
	       <div class="modal-footer">
				<button type="button" class="btn btn-danger waves-effect"
					data-dismiss="modal" >Ok</button>
		   </div>
   </div>
</div>
</div>
<!--Processor Error modal window for selectted PO's-->
<div id="movetoProcessorErr" class="modal" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vcenter">Move to Processor Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fas fa-times text-muted px-3 pb-2 align-middle"  title="Close"></i>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <span>{{strProcessorErrMsg}}<br></span>
                <span><br><b>{{strPOMoveToProcessorErr}}</b></span>
            </div>
            <div class="modal-footer" style="text-align: center;">
               <button type="button" class="btn btn-info" data-dismiss="modal" data-ng-click="fnMoveToProcessorError(strProcessorErrPoIdList)">Ok</button>
                <button type="button" class="btn btn-danger waves-effect"
                    data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal window for Processor Error without select PO's-->
<div id="emptyMovetoProcessorErr" class="modal" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vcenter">Move to Processor Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fas fa-times text-muted px-3 pb-2 align-middle" title="Close"></i>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <span>{{strProcessorErrMsg}}<br></span>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" id="modal-btn-fdelete_cancel" class="btn btn-info"
                    data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
</section>
</div>