<!-- 
/* 
 * GmDiscrepancyDtlReport.html : This html is used for Discrepancy Detail Report
 * @author : T.S. Ramachandiran
*/ 
-->


<div class="page-wrapper" id="gmturreport">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor" style="font-weight: 500;">Discrepancy PO Detailed Report</h3>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#/">Home</a></li>
                        <li class="breadcrumb-item active">Discrepancy PO Detailed Report</li>
                        <li class="help-icon"><i class="fa fa-question-circle" aria-hidden="true" onclick="fnHelp('wikidiscrepancydetailreport');" title="Help"></i></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="row">
        <div id="pending-po-main" class="col-12">
            <div class="mb-0 card">
                <div class="card-body">
                    <form class="form-body needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right  col-md-3 ">
                                        Company</label>
                                    <div class="col-md-8">
                                        <select id="strCompanyId" class="form-control custom-select"
                                            ng-model="selectedCompany" tabindex="1"
                                            data-ng-change="fnchangeCompany(selectedCompany)">
                                            <!--  <option value="">[Choose One]</option> -->
                                            <option data-ng-repeat="comp in compList" value="{{comp.companyId}}">
                                                {{comp.companyName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Rep Account</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="Search" name="strRepAcc"
                                            class="form-control col-md-8" data-ng-model="strRepAccId"
                                            data-ng-change="fnSearchRepAccount()" tabindex="2">
                                        <input type="hidden" placeholder="Search" name="strRepAcc" class="form-control"
                                            data-ng-model="strRepAcc">
                                        <input type="search" placeholder="ACC ID" aria-describedby="button-addon1"
                                            class="form-control col-md-3" data-ng-model="strAccid" tabindex="3">
                                        <ul class="list-group" id="list-group-rep" ng-model="hidethisrep"
                                            ng-hide="hidethisrep">
                                            <li class="list-group-item list-group-item-action"
                                                ng-repeat="rAcc in repAccList" ng-click="fnRepAccItem($event)"
                                                data-name="{{rAcc.NAME}}" data-id="{{rAcc.ID}}">{{rAcc.NAME}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Parent Account</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="Search" name="strParentAcc"
                                            class="form-control" data-ng-model="strParentAccId"
                                            data-ng-change="fnSearchParentAccount()" tabindex="4">
                                        <input type="hidden" placeholder="Search" name="strParentAcc"
                                            class="form-control" data-ng-model="strParentAcc">
                                        <ul class="list-group" id="list-group-acc" ng-model="hidethisacc"
                                            ng-hide="hidethisacc">
                                            <li class="list-group-item list-group-item-action"
                                                ng-repeat="pAcc in parentAccList" ng-click="fnParentAccItem($event)"
                                                data-name="{{pAcc.NAME}}" data-id="{{pAcc.ID}}">{{pAcc.NAME}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">PO#</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="" aria-describedby="button-addon1"
                                            class="form-control" data-ng-model="strCustPONumber" tabindex="5">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">DO ID</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="" aria-describedby="button-addon1"
                                            class="form-control" data-ng-model="strOrdId" tabindex="6"
                                            data-ng-change="fnClearDateField(strOrdId);">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Division</label>
                                    <div class="col-md-8">
                                        <select class="form-control custom-select" data-ng-model="strDivisionId"
                                            tabindex="7">
                                            <option value="">[Choose One]</option>
                                            <option data-ng-repeat="divlist in divisionList"
                                                value="{{divlist.divisionId}}">{{divlist.divisionName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button id="btnCollapseFilter" class="btn btn-xs btn-outline-dark collapsed" type="button"
                                data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter"
                                data-ng-click="fnColapseFilter()" tabindex="8">
                            </button>
                        </div>
                        <section class="collapse" id="collapseFilter">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">Resolution</label>
                                        <div class="col-md-8">
                                            <select class="form-control custom-select" data-ng-model="strResolutionId"
                                                tabindex="9" data-ng-change="fnSavePOCollectorDetails('Resolution');"
                                                ng-disabled="editDisFl==='N'">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="div in DOPORE" value="{{div.codeId}}">
                                                    {{div.codeNm}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">Field Sales</label>
                                        <div class="col-md-8">
                                            <input type="search" placeholder="Search" name="strFieldSales"
                                                class="form-control" data-ng-model="strFieldSalesId"
                                                data-ng-change="fnSearchFieldSales()" tabindex="10">
                                            <input type="hidden" placeholder="Search" name="strFieldSales"
                                                class="form-control" data-ng-model="strFieldSales">
                                            <ul class="list-group" id="list-group-field" ng-model="hidethisfield"
                                                ng-hide="hidethisfield">
                                                <li class="list-group-item list-group-item-action"
                                                    ng-repeat="fieldSales in fieldSalesList"
                                                    ng-click="fnFieldSalesItem($event)" data-name="{{fieldSales.NAME}}"
                                                    data-id="{{fieldSales.ID}}">{{fieldSales.NAME}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">Sales Rep</label>
                                        <div class="col-md-8">
                                            <input type="search" placeholder="Search" name="strSalesRep"
                                                class="form-control" data-ng-model="strSalesRepId"
                                                data-ng-change="fnSearchSalesRep()" tabindex="11">
                                            <input type="hidden" placeholder="Search" name="strSalesRep"
                                                class="form-control" data-ng-model="strSalesRep">
                                            <ul class="list-group" id="list-group-sales" ng-model="hidethissales"
                                                ng-hide="hidethissales">
                                                <li class="list-group-item list-group-item-action"
                                                    ng-repeat="salesRep in salesRepList"
                                                    ng-click="fnSalesRepItem($event)" data-name="{{salesRep.NAME}}"
                                                    data-id="{{salesRep.ID}}">
                                                    {{salesRep.NAME}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">Category</label>
                                        <div class="col-md-8">
                                            <select class="form-control custom-select" data-ng-model="strCategoryId"
                                                tabindex="12">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="catlist in DOPOCA" value="{{catlist.codeId}}">
                                                    {{catlist.codeNm}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">Status</label>
                                        <div class="col-md-8">
                                            <select class="form-control custom-select" data-ng-model="strStatusId"
                                                tabindex="13">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="statuslist in DISSTS"
                                                    value="{{statuslist.codeId}}">{{statuslist.codeNm}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">Collector</label>
                                        <div class="col-md-8">
                                            <select class="form-control custom-select" data-ng-model="strCollectorId"
                                                tabindex="14">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="clist in collectorList"
                                                    value="{{clist.codeId}}">{{clist.codeNm}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-4">Discrepancy
                                            Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control inputDatePicker"
                                                    data-ng-model="strDisStartDate" id="discrepancyFDate"
                                                    placeholder="mm/dd/yyyy" tabindex="15">
                                                <div class="input-group-append discrepancyFDate">
                                                    <span class="input-group-text"> <i class="icon-calender"></i>
                                                    </span>
                                                </div>
                                                <span id="span-empty_disFdt-err" style="color: red" class="hide">Please
                                                    Select From Date for Discrepancy
                                                    Date Field</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">To</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control inputDatePicker"
                                                    data-ng-model="strDisEndDate" id="discrepancyTDate"
                                                    placeholder="mm/dd/yyyy" tabindex="16">
                                                <div class="input-group-append  discrepancyTDate">
                                                    <span class="input-group-text"> <i class="icon-calender"></i>
                                                    </span>
                                                </div>
                                                <span id="span-empty_disTdt-err" style="color: red" class="hide">Please
                                                    Select To Date for Discrepancy
                                                    Date Field</span> <span id="span-dt_compare_disFdt-err"
                                                    style="color: red" class="hide">To Date should be
                                                    greater than or equal to From Date for Discrepancy Date</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-4">Resolution
                                            Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control inputDatePicker"
                                                    data-ng-model="strResStartDate" id="resolutionFDate"
                                                    placeholder="mm/dd/yyyy" tabindex="17">
                                                <div class="input-group-append resolutionFDate">
                                                    <span class="input-group-text"> <i class="icon-calender"></i>
                                                    </span>
                                                </div>
                                                <span id="span-empty_resFdt-err" style="color: red" class="hide">Please
                                                    Select From Date for Resolution
                                                    Date Field</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-2">To</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control inputDatePicker"
                                                    data-ng-model="strResEndDate" id="resolutionTDate"
                                                    placeholder="mm/dd/yyyy" tabindex="18">
                                                <div class="input-group-append resolutionTDate">
                                                    <span class="input-group-text"> <i class="icon-calender"></i>
                                                    </span>
                                                </div>
                                                <span id="span-empty_resTdt-err" style="color: red" class="hide">Please
                                                    Select To Date for Resolution
                                                    Date Field</span> <span id="span-dt_compare_resFdt-err"
                                                    style="color: red" class="hide">To Date should be
                                                    greater than or equal to From Date for Resolution Date</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group-line float-right">
                                    <button class="btn btn-outline-secondary" type="button"
                                        data-ng-click="fnClearAllField()" data-toggle="modal"
                                        class="model_img img-responsive" tabindex="19">Clear</button>
                                    <button class="btn btn-info " type="submit"
                                        data-ng-click="fnLoadDisrepancyDtlReport()" data-toggle="modal"
                                        data-target="#LoadAlert" class="model_img img-responsive" tabindex="20">Load
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="card-body pt-2 pb-2 w-100">
                    <div class="dhx_sample-controls float-right">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Show/Hide
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strPONumber" checked>PO Number
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strCategoryNm" checked>Category
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strCollectorNm" checked>Collector
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strOrderId" checked>DO Id 
                                        </label>
                                    </div>
                                </li> 
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strDOPartnum" checked>DO Part
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strPartDesc" checked>Part Description
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strDOPartQty" checked>DO Qty
                                        </label>
                                    </div>
                                </li>
                                 <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strDOItemPrice" checked>DO Amount
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strExtDoAmt" checked>Ext DO Amt
                                        </label>
                                    </div>
                                </li>
                               <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strPOPartNum" checked>PO Part
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strPOPartQty" checked>PO Qty
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strPOItemPrice" checked>PO Price
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strExtPoAmt" checked>Ext PO Amt
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strDiscType" checked>Discrepancy Type
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strDiscStatus" checked>Status
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strRepAcc" checked>Rep Account
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strSalesRep" checked>Sales Rep
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strResDate" >Resolution Date
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strDisdate" >Discrepancy Date
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                            <div class="text-right">
                                <div class="form-group-line">
                                    <button class="btn btn-info" id="btn-excel" data-ng-click="exportXlsx()">Export to Excel</button>
                                </div>
                            </div>
                        </div>
                   
                  
                    <div id="discrepency-detail-report" class="w-100 "></div>
                    <div id="no-data-found" class="text-center">No data found</div>
                </div>

            </div>
        </div>
        <div id="preloader-spin">
            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
        </div>
    </section>
</div>